body {
  /* background-image: url('res/background.jpg'); */
}

.container {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-city {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 210, 210);
  border: 1px gray dashed;
}

.city-name {
  height: 30px;
  width: 120px;
  margin: 10px;
}

.city {
  margin: 2px;
}

.timezone {
  height: 30px;
  width: fit-content;
  margin: 10px;
  text-align: center;

}

.saved-cities {
  height: 30px;
  width: fit-content;
}

.timezone-display {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.btn {
  margin: 10px;
  height: 30px;
  background-color: rgb(41, 41, 194);
  color: aliceblue;
  width: 70px;
}

.saved-cities {
  width: 150px;
  text-align: center;
}


.c-select {
  height: 30px;
  width: fit-content;
  font-size: medium;
  /* Center vertically and horizontally */
  position: sticky;
  text-align: center;
  /* Apply negative top and left margins to truly center the element */

}

.digital {
  color: grey;
}

#analog {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
  /*to make the height and width responsive*/
  width: 200px;
  background: url('res/clock.jpg') no-repeat;
  /*setting our background image*/
  background-size: 100%;

}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}

@media only screen and (max-width: 480px) {
  .new-city {
    flex-direction: column;
    width: 90%;
  }
}